@model List<Capstone.Models.Ordini>
@{
    ViewBag.Title = "Storico Ordini";
}



<h2 class="my-4">Storico Ordini</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-4">
    @foreach (var ordine in Model)
    {
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ordine: @ordine.OrdiniId</h5>
                    <dl class="dl-horizontal">
                        <dt>Account</dt>
                        <dd>@Html.DisplayFor(model => ordine.Users.Email)</dd>
                    </dl>
                    <hr> 
                    <dl class="dl-horizontal">
                        <dt>Spedizione a:</dt>
                        <dt>@Html.DisplayNameFor(model => ordine.Nome)</dt>
                        <dd>@Html.DisplayFor(model => ordine.Nome)</dd>
                        <dt>@Html.DisplayNameFor(model => ordine.Indirizzo)</dt>
                        <dd>@Html.DisplayFor(model => ordine.Indirizzo)</dd>
                    </dl>
                    <a href="/OrdVini/Details/@ordine.OrdiniId" class="btn btn-primary">Dettagli</a>
                </div>
            </div>
        </div>
    }
</div>