@model Capstone.Models.Ordini
@{
    ViewBag.Title = "Carrello";
}

@{

    decimal sommaTotale = 0;
    if (ViewBag.UserCart != null && ViewBag.UserCart.Count > 0)
    {
        foreach (var item in ViewBag.UserCart)
        {
            sommaTotale += item.Vino.Prezzo * item.Quantita;
        }
    }
}

<h2>Il Tuo Carrello</h2>

@if (ViewBag.UserCart != null && ViewBag.UserCart.Count > 0)
{
    <div class="d-flex flex-wrap justify-content-start">
        @foreach (var item in ViewBag.UserCart)
        {
            <div class="card m-2" style="width: 18rem;">
                <img src="@item.Vino.Img" class="card-img" alt="@item.Vino.Nome">
                <div class="card-body">
                    <h5 class="card-title">@item.Vino.Nome</h5>
                    <p class="card-text">@Html.Raw(item.Vino.Prezzo.ToString("C"))</p>
                    <div class="d-flex justify-content-between align-items-center">
                        @using (Html.BeginForm("AggiornaQuantita", "OrdVini", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            <input type="hidden" name="vinoId" value="@item.Vino.VinoId" />
                            <button type="submit" name="operazione" value="incrementa" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i>+</button>
                            <span class="mx-2">@item.Quantita</span>
                            <button type="submit" name="operazione" value="decrementa" class="btn btn-outline-secondary btn-sm"><i class="fa fa-minus"></i>-</button>
                        }
                        @using (Html.BeginForm("RimuoviDalCarrello", "OrdVini", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            <input type="hidden" name="vinoId" value="@item.Vino.VinoId" />
                            <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i>Cancella</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    using (Html.BeginForm("CreateOrderFromCart", "OrdVini", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <h4 class="my-2">Ordina</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cognome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cognome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cognome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Indirizzo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Indirizzo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Indirizzo, "", new { @class = "text-danger" })
            </div>
        </div>

        if (ViewBag.Pagamento != null)
        {
<div class="form-group">
    @Html.LabelFor(model => model.PagamentoId, "PagamentoId", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("PagamentoId", ViewBag.Pagamento as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PagamentoId, "", new { @class = "text-danger" })
    </div>
</div>

        }
        else
        {
            <p>Nessun metodo di pagamento disponibile. Si prega di contattare l'amministrazione.</p>
        }

        <div class="form-group my-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Conferma Ordine" class="btn btn-outline-success" />
            </div>
        </div>
    }

    <div>
        <h4>Somma Totale: @sommaTotale.ToString("C")</h4>
    </div>

}
else
{
    <p>Il carrello è vuoto</p>
}
