@model List<Capstone.Models.OrdVini>

@{
    ViewBag.Title = "Details";

    // Calcolo del prezzo totale senza IVA
    var prezzoTotaleSenzaIVA = Model.Sum(item => (item.Vini.Prezzo * (1 - (item.Vini.Sconto ?? 0) / 100) * item.Quantita));

    // Calcolo dell'IVA per gli alcolici (assumo che l'IVA sia al 22%)
    var ivaAlcolici = prezzoTotaleSenzaIVA * 0.22M;
    // Prezzo totale con IVA
    var prezzoTotaleConIVA = prezzoTotaleSenzaIVA + ivaAlcolici;
}

<h2 class="my-4">Il tuo Ordine</h2>

<p><strong>Nome:</strong> @Model[0].Ordini.Nome</p>
<p><strong>Cognome:</strong> @Model[0].Ordini.Cognome</p>
<p><strong>Indirizzo:</strong> @Model[0].Ordini.Indirizzo</p>
<p><strong>Stato:</strong> @Model[0].Ordini.Stato</p>
<p><strong>Account:</strong> @Model[0].Ordini.Users.Email</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Articolo</th>
                <th>Quantità</th>
                <th>Prezzo Unitario</th>
                <th>Sconto Applicato (%)</th>
                <th>Prezzo Totale</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vino in Model)
            {
                <tr>
                    <td>@vino.Vini.Nome</td>
                    <td>@vino.Quantita pz.</td>
                    <td>@(vino.Vini.Prezzo.ToString("0.##")) €</td>
                    @if (vino.Vini.Sconto.HasValue && vino.Vini.Sconto != 0)
                    {
                        <td>@(vino.Vini.Sconto.Value.ToString("0.##")) %</td>
                    }
                    else
                    {
                        <td></td>
                        <!-- Non mostra nulla quando lo sconto è zero o null -->
                    }
                    <td>@((vino.Vini.Prezzo * (1 - (vino.Vini.Sconto ?? 0) / 100M) * vino.Quantita).ToString("0.##")) €</td>

                    <!-- Calcola il prezzo totale con lo sconto -->
                </tr>
            }
            <tr>
                <td style="height:75px; vertical-align: bottom;" colspan="4"><strong>Prezzo Totale senza IVA:</strong></td>
                <td style="vertical-align: bottom;">@(prezzoTotaleSenzaIVA.ToString("0.##")) €</td>
            </tr>
            <tr>
                <td style="height:75px; vertical-align: bottom;" colspan="4"><strong>IVA per gli alcolici (22%):</strong></td>
                <td style="vertical-align: bottom;">@(ivaAlcolici.ToString("0.##")) €</td>
            </tr>
            <tr>
                <td style="height:75px; vertical-align: bottom;" colspan="4"><strong>Prezzo Totale con IVA:</strong></td>
                <td style="vertical-align: bottom;">@(prezzoTotaleConIVA.ToString("0.##")) €</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="/Ordini/Details/@User.Identity.Name" class="btn btn-outline-primary my-3">Torna allo Storico</a>
    </div>
}
else
{
    <p>Nessun articolo trovato per questo ordine.</p>
}
