@model Capstone.Models.Vini

@{
    ViewBag.Title = "Dettaglio";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.Img" alt="Immagine" class="img-fluid mb-3" />
        </div>
        <div class="col-md-6">
            <h2>@Model.Nome</h2>
            <p>Prezzo: @Model.Prezzo €</p>
            <p>Descrizione: @Model.Descrizione</p>
            <p>Tipo: @Model.Tipo</p>
            <p>Produttore: @Model.Produttore</p>
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("AddToCart", "OrdVini", new { id = Model.VinoId }, FormMethod.Post))
                {
                    <input type="submit" value="Aggiungi all'ordine" class="btn btn-success" />
                }
            }else
            {
        <p style="color: red;">Ti devi loggare per acquistare</p>
            }

        </div>
    </div>
</div>