@model IEnumerable<Capstone.Models.Vini>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .card-img {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <h2 class="text-center mb-4">I nostri vini</h2>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <a href="@Url.Action("Dettaglio", "Home", new {id = item.VinoId })"/>
                        <img src="@item.Img" class="card-img-top" alt="@item.Nome">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nome</h5>
                            <p class="card-text">Prezzo: @item.Prezzo €</p>
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>