@model Capstone.Models.Vini

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center mt-4">Dettagli Articolo</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-md-3">Nome:</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.Nome)</dd>

                <dt class="col-md-3">Immagine:</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.Img)</dd>

                <dt class="col-md-3">Tipo:</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.Tipo)</dd>

                <dt class="col-md-3">Anno:</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.Anno)</dd>

                <dt class="col-md-3">Descrizione:</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.Descrizione)</dd>

                <dt class="col-md-3">Prezzo:</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.Prezzo)</dd>

                <dt class="col-md-3">Magazzino:</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.Magazzino)</dd>

                <dt class="col-md-3">Produttore:</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.Produttore)</dd>

                <dt class="col-md-3">SottoTipo:</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.SottoTipo)</dd>

                <dt class="col-md-3">Sconto:</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.Sconto) %</dd>
            </dl>
        </div>
    </div>
</div>

<div class="text-center mt-4 mb-2">
    
        @Html.ActionLink("Modifica", "Edit", new { id = Model.VinoId }, new { @class = "btn btn-primary mr-2" })
        <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Home")'">Torna indietro</button>
    
</div>